<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaobai.goods.dao.IGoodsDao">
    <!-- 基础结果集 -->
    <resultMap id="baseResultMap" type="com.xiaobai.goods.entity.Goods">
        <id property="goodsInfoId" column="GOODS_INFO_ID"/>
        <result property="stock" column="STOCK"/>
    </resultMap>

    <!-- 通用查询字段 -->
    <sql id="commonQuerySql">
        GOODS_INFO_ID,
        STOCK
    </sql>

    <!-- 查询列表 -->
    <select id="queryGoodsList" resultMap="baseResultMap">
        SELECT
        <include refid="commonQuerySql"/>
        FROM GOODS_INFO
        ORDER BY GOODS_INFO_ID DESC
        LIMIT 0 , 10
    </select>

    <!-- 根据条件查询单个 -->
    <select id="queryGoods" resultMap="baseResultMap">
        SELECT
        <include refid="commonQuerySql"/>
        FROM GOODS_INFO
        WHERE GOODS_INFO_ID = #{id}
    </select>

    <!-- 修改 -->
    <update id="updateGoods">
        UPDATE GOODS_INFO
        SET STOCK = #{stock}
        WHERE GOODS_INFO_ID = #{goodsInfoId}
    </update>

    <!-- 插入多个 -->
    <insert id="insertGoodsList" useGeneratedKeys="true" keyProperty="goodsInfoId">
        INSERT INTO GOODS_INFO
        (STOCK)
        VALUES
        <foreach collection="list" item="goods" index="index" separator=",">
            (#{goods.stock})
        </foreach>
    </insert>

</mapper>